html {
  box-sizing: border-box;
}
body {
  background-color: #c9c9c9c9;
}
header {
  background-color: green;
}
<<<<<<< HEAD
footer {
  background-color: blue;
=======
section {
  background-color: yellow;
>>>>>>> e9757b19ca250642909a2d338be5156671db9eff
}